<article>
  <header>
    <h1 id="demo">Hannibal</h1> 
  </header>
{{#if user_id}}
	<div class="dropdown" id="dropdown">
	  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Account Info
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><a href="http://localhost:3000/hannibal/user/private/{{user_id}}">Edit your profile</a></li>
	    <li><a href="http://localhost:3000/hannibal/postItems/{{user_id}}">Uploaded products</a></li>
	    <li><a href="http://localhost:3000/hannibal/logout">Logout</a></li>
	  </ul>
	</div>
{{else}}
	 <button type="button" class="btn btn-primary" data-toggle="modal" id="modal-toggle" data-target="#login-modal">Login/SignUp</button>
  <div class="modal" id="login-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-toggle">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span 
      aria-hidden="true">&times;</span></button>
      <h2 class="modal-title" id="myModalLabel">Hannibal Login</h2>
     </div>

    <form>
     <div class="modal-body">
            
      <div class = "form-group login">
        <br><br>
        <label for="user_name">Account: &nbsp</label>
        <input type="text" name="user_name" id="user_name" required placeholder="Account" />
        
          <div class="message"></div>
        <br><br>
      </div>
      
      <div class = "form-group login">
        <label for="user_pass">Password:   </label>
        <input type="password" name="user_pass" id="user_pass" required placeholder="Password"/><br><br>
      </div>

                 

     </div>
     <div class="modal-footer">
      <a class="btn btn-info" href="http://localhost:3000/hannibal/signup" role="button">Sign Up</a>
      <input type="submit" id="submit" class="btn btn-success" value='Sign In' />
     </div>
    </form>
    </div>
   </div>
  </div>
{{/if}}
  {{#if error}}
  <div id="login-error" class="error">
    <h3>Error:</h3>
    {{ error }}
  </div>
   {{/if}}
  <p id="sentence">We're better than 'ℇ bay' !</p>

<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-offset-2">
    <form class="key-form" method="post">
      <div class="form-group">
       <select class="form-control" id="search" name="search" style="width:100px;height:40px;float:left;" >
          <option value='all'> All </option> 
          {{#each category_products}}
          <option value='{{category_name}}'>{{category_name}}</option> 
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="keyword" id="keyword" placeholder = "Seach for anything"
        value = "{{keyword}}" style=" width:500px;height:40px;float:left">
        <button type="submit" class="btn btn-default" style="height:40px;float:left"> Search </button>
      </div>
    </form>
  </div>
</div>
</div>

  <ul class = "navi" style="margin:5px">
  {{#each category_products}}
   <li><a href='#{{category_name}}'>{{category_name}}</a></li>
  {{/each}}  
  </ul>

  {{#each category_products}}
    <div class = "categoryBar page-header" id= '{{category_name}}'>
    {{category_name}}
    </div>
    
    <div class = "CateProdOuterBox">
     <button class="scroll-btn button-left">
     </button>   
    <div class = "categoryProducts">
 
    {{#each IdandNames}}
    <div class = "grids">
    <div class = "grid_pics">
    <a href="http://localhost:3000/hannibal/product/{{product_id}}">
    <img src='{{product_pic}}' width="270" height="200" alt="Smiley face">
    </a>
    </div>
    <div class = "names">
    <a class = "ProdNames" href="http://localhost:3000/hannibal/product/{{product_id}}">
    {{product_name}}
    </a>
    </div>
    </div>
  {{/each}}
 
    </div>
     <button class="scroll-btn button-right">
     </button>
  </div>
  {{/each}}
</article>




